body {
  font-size: 20px;
  color: #FFF;
  font-family: "Montserrat", sans-serif;
  background-color: black;
}

p {
  line-height: 1.5;
  margin: 30px 0;
}

p a {
  text-decoration: underline;
}

h1,
h2,
h3,
h4,
h5,
h6 {
  font-weight: 800;
  font-family: "Montserrat", sans-serif;
}

a {
  color: #000b30;
  -webkit-transition: all 0.2s;
  transition: all 0.2s;
}

a:focus, a:hover {
  color: #00657b;
  text-decoration: none;
}

blockquote {
  font-style: italic;
  color: #868e96;
}

.section-heading {
  font-size: 36px;
  font-weight: 700;
  margin-top: 60px;
}

.caption {
  font-size: 14px;
  font-style: italic;
  display: block;
  margin: 0;
  padding: 10px;
  text-align: center;
  border-bottom-right-radius: 5px;
  border-bottom-left-radius: 5px;
}

.container {
  padding-right: 15px;
  padding-left: 15px;
  margin-right: auto;
  margin-left: auto;
}

@media (min-width: 768px) {
  .container {
    width: 750px;
  }
}
@media (min-width: 992px) {
  .container {
    width: 970px;
  }
}
@media (min-width: 1200px) {
  .container {
    width: 1170px;
  }
}
.container-fluid {
  padding-top: 70px;
  padding-bottom: 70px;
}

.margin {
  margin-bottom: 45px;
}

::selection {
  color: #fff;
  background: #0085A1;
  text-shadow: none;
}

img::selection {
  color: #fff;
  background: transparent;
}

img::-moz-selection {
  color: #fff;
  background: transparent;
}

#mainNav {
  position: absolute;
  background-color: #000;
  /* border-bottom: 1px solid #64ffda; */
  /* font-family: 'Open Sans', 'Helvetica Neue', Helvetica, Arial, sans-serif; */
}

#mainNav .navbar-brand {
  font-weight: 800;
  color: white;
}

#mainNav .navbar-toggler {
  font-size: 12px;
  font-weight: 800;
  padding: 13px;
  text-transform: uppercase;
  color: white;
}

#mainNav .navbar-nav > li.nav-item > a {
  font-size: 12px;
  font-weight: 800;
  letter-spacing: 1px;
  text-transform: uppercase;
  color: #fff;
}

@media only screen and (min-width: 992px) {
  #mainNav .navbar-brand {
    padding: 10px 20px;
    color: #fff;
  }

  #mainNav .navbar-brand:focus, #mainNav .navbar-brand:hover {
    color: rgba(255, 255, 255, 0.8);
  }

  #mainNav .navbar-nav > li.nav-item > a {
    padding: 10px 20px;
    color: #fff;
  }

  #mainNav .navbar-nav > li.nav-item > a:focus, #mainNav .navbar-nav > li.nav-item > a:hover {
    color: rgba(255, 255, 255, 0.8);
  }
}
@media only screen and (min-width: 992px) {
  #mainNav {
    -webkit-transition: background-color 0.2s;
    transition: background-color 0.2s;
    /* Force Hardware Acceleration in WebKit */
    -webkit-transform: translate3d(0, 0, 0);
    transform: translate3d(0, 0, 0);
    -webkit-backface-visibility: hidden;
  }

  #mainNav.is-fixed {
    /* when the user scrolls down, we hide the header right above the viewport */
    position: fixed;
    top: -67px;
    -webkit-transition: -webkit-transform 0.2s;
    transition: -webkit-transform 0.2s;
    transition: transform 0.2s;
    transition: transform 0.2s, -webkit-transform 0.2s;
    background-color: #000;
  }

  #mainNav.is-fixed .navbar-brand {
    color: #white;
  }

  #mainNav.is-fixed .navbar-brand:focus, #mainNav.is-fixed .navbar-brand:hover {
    color: #0085A1;
  }

  #mainNav.is-fixed .navbar-nav > li.nav-item > a {
    color: white;
  }

  #mainNav.is-fixed .navbar-nav > li.nav-item > a:focus, #mainNav.is-fixed .navbar-nav > li.nav-item > a:hover {
    color: white;
  }

  #mainNav.is-visible {
    /* if the user changes the scrolling direction, we show the header */
    -webkit-transform: translate3d(0, 100%, 0);
    transform: translate3d(0, 100%, 0);
    color: #000;
  }
}
header.masthead {
  margin-bottom: 50px;
  background: no-repeat center center;
  background-color: #000;
  background-attachment: scroll;
  position: relative;
  background-size: cover;
}

header.masthead .page-heading,
header.masthead .post-heading,
header.masthead .site-heading {
  padding: 100px 0 50px;
  color: white;
}

@media only screen and (min-width: 576px) {
  header.masthead .page-heading,
header.masthead .post-heading,
header.masthead .site-heading {
    padding: 100px 0 50px;
  }
}
@media only screen and (min-width: 992px) {
  header.masthead .page-heading,
header.masthead .post-heading,
header.masthead .site-heading {
    padding: 100px 0 75px;
  }
}
header.masthead .page-heading,
header.masthead .site-heading {
  text-align: left;
}

header.masthead .page-heading h1,
header.masthead .site-heading h1 {
  font: 400 12pt/1.8 Lato, sans-serif;
  font-weight: bold;
}

header.masthead .page-heading .subheading,
header.masthead .site-heading .subheading {
  font-weight: 300;
  line-height: 1.1;
  display: block;
  margin: 10px 0 0;
  font: 40 12pt/1.8 Lato, sans-serif;
  color: #FFFFFF;
}

@media only screen and (min-width: 992px) {
  header.masthead .page-heading h1,
header.masthead .site-heading h1 {
    font: 400 15pt/1.8 Lato, sans-serif;
    font-weight: bold;
    margin-top: 75px;
  }
}
header.masthead .post-heading h1 {
  font-size: 5px;
}

header.masthead .post-heading .meta,
header.masthead .post-heading .subheading {
  line-height: 1.1;
  display: block;
}

header.masthead .post-heading .subheading {
  font-size: 24px;
  font-weight: 600;
  margin: 10px 0 30px;
  font-family: "Open Sans", "Helvetica Neue", Helvetica, Arial, sans-serif;
}

header.masthead .post-heading .meta {
  font-size: 20px;
  font-weight: 300;
  font-style: italic;
  font-family: "Lora", "Times New Roman", serif;
}

header.masthead .post-heading .meta a {
  color: #fff;
}

@media only screen and (min-width: 992px) {
  header.masthead .post-heading h1 {
    font-size: 55px;
  }

  header.masthead .post-heading .subheading {
    font-size: 30px;
  }
}
.post-preview > a {
  color: #212529;
}

.post-preview > a:focus, .post-preview > a:hover {
  text-decoration: none;
  color: #0085A1;
}

.post-preview > a > .post-title {
  font-size: 30px;
  margin-top: 30px;
  margin-bottom: 10px;
}

.post-preview > a > .post-subtitle {
  font-weight: 300;
  margin: 0 0 10px;
}

.post-preview > .post-meta {
  font-size: 18px;
  font-style: italic;
  margin-top: 0;
  color: #868e96;
}

.post-preview > .post-meta > a {
  text-decoration: none;
  color: #212529;
}

.post-preview > .post-meta > a:focus, .post-preview > .post-meta > a:hover {
  text-decoration: underline;
  color: #0085A1;
}

@media only screen and (min-width: 992px) {
  .post-preview > a > .post-title {
    font-size: 36px;
  }
}
.floating-label-form-group {
  font-size: 14px;
  position: relative;
  margin-bottom: 0;
  padding-bottom: 0.5em;
  border-bottom: 1px solid #dee2e6;
}

.floating-label-form-group input,
.floating-label-form-group textarea {
  font-size: 1.5em;
  position: relative;
  z-index: 1;
  padding: 0;
  resize: none;
  border: none;
  border-radius: 0;
  background: none;
  -webkit-box-shadow: none !important;
  box-shadow: none !important;
  font-family: "Lora", "Times New Roman", serif;
}

.floating-label-form-group input::-webkit-input-placeholder,
.floating-label-form-group textarea::-webkit-input-placeholder {
  color: #868e96;
  font-family: "Lora", "Times New Roman", serif;
}

.floating-label-form-group label {
  font-size: 0.85em;
  line-height: 1.764705882em;
  position: relative;
  z-index: 0;
  top: 2em;
  display: block;
  margin: 0;
  -webkit-transition: top 0.3s ease, opacity 0.3s ease;
  transition: top 0.3s ease, opacity 0.3s ease;
  vertical-align: middle;
  vertical-align: baseline;
  opacity: 0;
}

.floating-label-form-group .help-block {
  margin: 15px 0;
}

.floating-label-form-group-with-value label {
  top: 0;
  opacity: 1;
}

.floating-label-form-group-with-focus label {
  color: #0085A1;
}

form .form-group:first-child .floating-label-form-group {
  border-top: 1px solid #dee2e6;
}

footer {
  padding: 50px 0 65px;
}

footer .list-inline {
  margin: 0;
  padding: 0;
}

footer .copyright {
  font-size: 14px;
  margin-bottom: 0;
  text-align: center;
}

.buttonfix {
  position: relative;
  display: -ms-flexbox;
  display: flex;
  -ms-flex-direction: column;
  flex-direction: column;
  min-width: 0;
}

.btn {
  font-size: 14px;
  font-weight: 800;
  padding: 15px 25px;
  letter-spacing: 1px;
  text-transform: uppercase;
  border-radius: 0;
  font-family: "Open Sans", "Helvetica Neue", Helvetica, Arial, sans-serif;
}

.btn-primary {
  background-color: #000b30;
  border-color: #64ffda;
  font-family: "Montserrat", sans-serif;
}

.btn-primary:hover, .btn-primary:focus, .btn-primary:active {
  color: #fff;
  background-color: #00657b !important;
  border-color: #64ffda;
}

.btn-lg {
  font-size: 16px;
  padding: 25px 35px;
}

.animatedtext {
  width: 100%;
  text-align: left;
  min-height: 200px;
  line-height: 50px;
  font-size: 42px;
  font-weight: bold;
  position: relative;
}

@media only screen and (max-width: 992px) {
  .text {
    font-size: 28px;
  }
}
.animatedtext .content {
  display: inline;
}

.animatedtext .dash {
  display: inline-block;
  height: 3px;
  width: 20px;
  background-color: #64ffda;
  /* background-color: #33FF00; terminal green*/
  animation: blink 0.5s 20 linear;
}

.card-image-container {
  width: 90%;
  margin-left: auto;
  margin-right: auto;
  height: 400px;
  display: block;
  /* background-color: #000b30; */
}

.card-image {
  height: 100%;
  width: 100%;
  object-fit: contain;
}

.card-image-gif {
  position: relative;
  top: 0px;
  height: 100%;
  width: 100%;
  object-fit: contain;
}

.card-image-static {
  position: relative;
  top: -400px;
  height: 100%;
  width: 100%;
  object-fit: contain;
}

.card-image-static:hover {
  height: 100%;
  width: 100%;
  object-fit: contain;
  opacity: 0;
}

.card-image2 {
  height: 100%;
  width: 100%;
}

.hovercard {
  position: relative;
  display: -ms-flexbox;
  display: flex;
  -ms-flex-direction: column;
  flex-direction: column;
  min-width: 0;
  word-wrap: break-word;
  background-color: #000414;
  /* border: 2px solid #64ffda; */
  border-radius: 8px;
  box-shadow: 0 0px 5px 1px orange;
  overflow: hidden;
  top: 0;
  transition: all 0.25s;
}
.hovercard:nth-child(2) {
  margin: 0 50px;
}
.hovercard:hover {
  top: -15px;
  box-shadow: 0 5px 50px 3px orange;
}
.hovercard::before {
  transform: scale3d(0, 1, 1);
  transform-origin: left top;
  border-top: 1px solid #acacac;
  border-bottom: 1px solid #acacac;
}
.hovercard::after {
  transform: scale3d(1, 0, 1);
  transform-origin: right top;
  border-right: 1px solid #acacac;
  border-left: 1px solid #acacac;
}
.hovercard:hover::before, .hovercard:hover::after, .hovercard:focus::before, .hovercard:focus::after {
  transform: scale3d(1, 1, 1);
  opacity: 1;
}
.hovercard img {
  height: 100%;
  width: 100%;
  padding-bottom: 1rem;
}
.hovercard a {
  font-weight: 500;
  text-decoration: none;
  color: #3498db;
}
.hovercard hr {
  margin-right: 0;
  margin-left: 0;
}

.hovercard2 {
  position: relative;
  display: -ms-flexbox;
  display: flex;
  -ms-flex-direction: column;
  flex-direction: column;
  min-width: 0;
  word-wrap: break-word;
  background-color: #000;
  /* border: 2px solid #64ffda; */
  border-radius: 8px;
  box-shadow: 0 0px 5px 1px #64ffda;
  overflow: hidden;
  top: 0;
  transition: all 0.25s;
}
.hovercard2:nth-child(2) {
  margin: 0 50px;
}
.hovercard2:hover {
  top: -15px;
  box-shadow: 0 5px 50px 3px #64ffda;
}
.hovercard2::before {
  transform: scale3d(0, 1, 1);
  transform-origin: left top;
  border-top: 1px solid #acacac;
  border-bottom: 1px solid #acacac;
}
.hovercard2::after {
  transform: scale3d(1, 0, 1);
  transform-origin: right top;
  border-right: 1px solid #acacac;
  border-left: 1px solid #acacac;
}
.hovercard2:hover::before, .hovercard2:hover::after, .hovercard2:focus::before, .hovercard2:focus::after {
  transform: scale3d(1, 1, 1);
  opacity: 1;
}
.hovercard2 img {
  height: 100%;
  width: 100%;
  padding-bottom: 1rem;
}
.hovercard2 a {
  font-weight: 500;
  text-decoration: none;
  color: #3498db;
}
.hovercard2 hr {
  margin-right: 0;
  margin-left: 0;
}

.hovercard3 {
  position: relative;
  display: -ms-flexbox;
  display: flex;
  -ms-flex-direction: column;
  flex-direction: column;
  min-width: 0;
  word-wrap: break-word;
  background-color: #000;
  /* border: 2px solid #64ffda; */
  border-radius: 8px;
  box-shadow: 0 0px 5px 1px red;
  overflow: hidden;
  top: 0;
  transition: all 0.25s;
}
.hovercard3:nth-child(2) {
  margin: 0 50px;
}
.hovercard3:hover {
  top: -15px;
  box-shadow: 0 5px 50px 3px red;
}
.hovercard3::before {
  transform: scale3d(0, 1, 1);
  transform-origin: left top;
  border-top: 1px solid #acacac;
  border-bottom: 1px solid #acacac;
}
.hovercard3::after {
  transform: scale3d(1, 0, 1);
  transform-origin: right top;
  border-right: 1px solid #acacac;
  border-left: 1px solid #acacac;
}
.hovercard3:hover::before, .hovercard3:hover::after, .hovercard3:focus::before, .hovercard3:focus::after {
  transform: scale3d(1, 1, 1);
  opacity: 1;
}
.hovercard3 img {
  height: 100%;
  width: 100%;
  padding-bottom: 1rem;
}
.hovercard3 a {
  font-weight: 500;
  text-decoration: none;
  color: #3498db;
}
.hovercard3 hr {
  margin-right: 0;
  margin-left: 0;
}

@keyframes blink {
  0% {
    opacity: 1;
  }
  99% {
    opacity: 0;
  }
  100% {
    opacity: 1;
  }
}

/*# sourceMappingURL=app.css.map */
